* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

#container {
  width: 100%;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
}

img {
  max-width: 100%;
}

/***HEADER***/
header {
  height: 120vh;
  background: url("../img/hero-bg.jpg") top center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 2em;
  position: relative;
  height: 650px;
}

.hero-content {
  width: 45%;
  margin: 2em 0 2em 0;
}

.hero-content h1 {
  font-weight: 900;
  font-size: 3em;
  color: #ffffff;
  margin-bottom: 0.4em;
}

.hero-content h4 {
  font-weight: 300;
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-top: 0em;
}

/***FORM***/
form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
input {
  height: 56px;
  border-radius: 25px;
  box-shadow: none;
  border: 0;
  margin-bottom: 1em;
  padding: 1em;
}
button {
  border-radius: 25px;
  background-color: #000000;
  border: 0px;
  box-shadow: none;
  color: #ffffff;
  height: 56px;
}
/***Cards***/
.cards-container {
  text-align: center;
  align-items: baseline;
  padding: 2em;
  display: flex;
  flex-flow: flow wrap;
}

.card {
  width: 20%;
  flex-direction: column;
  border: rgb(0, 225, 255) solid 1px;
  flex-grow: 1;
}

.card + .card {
  margin-left: 5%;
}

.cards-container p {
  font-size: 1em;
}

.cards-container h3 {
  font-size: 1.4em;
  font-weight: 800;
}
